@font-face {
  font-family: "Segment7Standard";
  src: url("./font/Segment7Standard.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Alap stílusok */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: linear-gradient(45deg, #063e5a, #1090cf);
  min-height: 100vh;
  background-repeat: no-repeat;
}

.branding {
  font-weight: bold;
  font-style: italic;
  font-size: 200%;
}

.calcapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #fff;
  border: 5px solid #1090cf;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0;
  margin-right: 50px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background: linear-gradient(45deg, #c0c8cc, #6cb0d1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6),
    inset 10px 10px 20px rgba(255, 255, 255, 0.3),
    inset -10px -10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.calculator.flipped {
  transform: rotate(180deg);
}

.display {
  font-family: "Segment7Standard", monospace;
  margin: 20px;
  height: 100px;
  border-radius: 20px;
  width: 75%;
  background-color: #dadada;
  border: 5px solid #747474;
  display: flex;
  align-items: center;

  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.35),
    /* alsó-jobb sötétebb él */ inset -3px -3px 3px rgba(255, 255, 255, 0.7);
}

.display input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 300%;
  text-align: right;
  width: 100%;
  margin-right: 20px;
  color: #000000;
}

.display input::placeholder {
  color: #000000;
}

.calculator button {
  width: 60px;
  height: 60px;
  background-color: #0b183b;
  border-radius: 50%;
  font-size: 1.3rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 8px rgba(255, 255, 255, 0.15),
    /* felső/fényes él */ inset -2px -2px 4px rgba(0, 0, 0, 0.4); /* alsó/sötét él */
  font-weight: bold;
  margin: 2px;
}

.calculator button:active {
  background-color: #1c3068;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4),
    inset -2px -2px 4px rgba(255, 255, 255, 0.15),
    inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

.calculator button.equalBtn {
  background-color: #e78002;
  color: #fff;
}

.calculator button.operator {
  background-color: #084a6a;
  color: #95ffa5;
}

.red button {
  width: 120px;
  height: 60px;
  background-color: #bf2020;
  border-radius: 30px;
  font-size: 1.3rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(220, 7, 7, 0.25),
    inset 4px 4px 8px rgba(255, 255, 255, 0.15),
    /* felső/fényes él */ inset -2px -2px 4px rgba(0, 0, 0, 0.4); /* alsó/sötét él */
  font-weight: bold;
  margin: 2px;
}

.red button:active {
  background-color: #ac4a4a;
  border-radius: 30px;
  font-size: 1.3rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(85, 4, 4, 0.25),
    inset 4px 4px 8px rgba(255, 255, 255, 0.15),
    /* felső/fényes él */ inset -2px -2px 4px rgba(0, 0, 0, 0.4); /* alsó/sötét él */
  font-weight: bold;
  margin: 2px;
}

.red {
  display: flex;
  flex-direction: column;
  align-items: center; /* msg és gomb középre egymáshoz képest */
}

.red .msg {
  padding: 30px;
  width: 400px;
  background-color: #1c3068;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px; /* kis távolság a gomb fölött */
}
